.title, .loc-title {
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 100px;
    background-color: rgba(9, 28, 28, 0.5);
    color:  rgba(255, 255, 255, 0.5);
    margin-left: 10%;
    margin-right: 10%;
}

  .index-p {
    font-family: 'Noto Sans JP', sans-serif;
    color: rgba(255, 255, 255, 0.5);
  } 

  .indexrow {
  background-color: rgba(9, 28, 28, 0.5);
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 90px;

}

.artinfo {
  color:rgba(255, 255, 255, 0.5);
  background-color: rgba(9, 28, 28, 0.5);
  border-radius: 5px 5px 0 0;
}

.ind-h1{
  color:rgba(255, 255, 255, 0.5);
  background-color: rgba(9, 28, 28, 0.5);
  border-radius: 5px 5px 0 0;
  font-family: 'Courier New', monospace;
}

.loc-h3 {
  font-family: 'Noto Sans JP', sans-serif;
  padding: auto;
  color: rgba(255, 255, 255, 0.5)

}

.loc-h2 {
  font-family: 'Noto Sans JP', sans-serif;
  padding: auto;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(9, 28, 28, 0.5);
}

.loc-main {
  background-color: rgba(255, 255, 255, 0.5);
}

img {
  border-radius: 5px 5px 0 0;
  background-color: rgba(255, 255, 255, 0.5);
}
.loc-container {
background-color: rgba(255, 255, 255, 0.5);
}

.dates-container {
  background-color: rgba(255, 255, 255, 0.5);
}

.dates {
  color: rgba(9, 28, 28, 0.5);
}


body {
    background-image: url("groupiesmall.jpg");
}

a {
    color: rgba(9, 28, 28, 0.8);
    background-color:rgba(255, 255, 255, 0.5);
    border-radius: 5px 5px 5px 5px;
  }

  a:visited {
    color: #483538;
  }

  a:hover {
    color: #77040d;
  }

  a:active {
    color: #77040d;
  }