.title {
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 100px;
    text-shadow: 2px 2px #0b0606;
    color:  rgba(255, 255, 255, 0.5);
    margin-left: 10%;
    margin-right: 10%;
}

  .index-p {
    font-family: 'Noto Sans JP', sans-serif;
    color: rgba(255, 255, 255, 0.5);
  } 

  .indexrow {
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 90px;
 
}

.artinfo {
  color:rgba(255, 255, 255, 0.5);
  background-color: rgba(9, 28, 28, 0.5);
  border-radius: 5px 5px 0 0;
  text-align: center;
}

.ind-h1{
  color:rgba(255, 255, 255, 0.5);
  background-color: rgba(9, 28, 28, 0.5);
  border-radius: 5px 5px 0 0;
  font-family: 'Courier New', monospace;
}


img {
  border-radius: 5px 5px 0 0;
  display: block;
    max-width:230px;
    max-height:95px;
    width: auto;
    height: auto;
  background-color: rgba(255, 255, 255, 0.5);
}


body {
    background-image: url("groupiesmall.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

a {
    color: rgba(9, 28, 28, 0.8);
    background-color:rgba(255, 255, 255, 0.5);
    border-radius: 5px 5px 5px 5px;
  }

  a:visited {
    color: #483538;
  }

  a:hover {
    color: #77040d;
  }

  a:active {
    color: #77040d;
  }

  #search-container {
    width: 100%;
    text-align:center;   
  } 

  #search{
    width: 30%;
    height: 30px;
    border-radius: 4px;
    vertical-align: middle;
  }

  #search-button{
    height: 30px;
    vertical-align: middle;
    margin-left: 4px;
  } 