<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/Users/ashamohamed/Documents/GitHub/ghgroupie-tracker/assets/styles.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>SHOW LOCATIONS</title>
    </head>
    <body>
        <main>
            <h1>SHOWS BY GROUP</h1>
                <br>
            {{range $index, $value := .artist}}
            <h2> Name {{.Name}} </h2>
            {{end}}
            <br>
            <br>
    </main>
    </body>
</html>