<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/Users/ashamohamed/Documents/GitHub/ghgroupie-tracker/assets/styles.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>show dates</title>
    </head>
    <body>
            <main>
                <h1>The Dates</h1>
                {{range $index, $value := .Index}}
                <div class="dates-container">
                    <p class="dates">Dates: {{range .Dates}} {{.}} {{end}}</p>
                    <p class="dates"><a href="/loc">Location</a></p>
            {{end}}
                </div>
        
            </main>
            <p><a href="/index">home</a></p>
            <p><a href="/loc">back</a></p>
    </body>
</html>