<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!-- <link rel="stylesheet" href="/Users/ashamohamed/Documents/groupietracker/assets/styles.css" /> -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>INDEX</title>
    </head>
    <body>
        <!-- <link rel="stylesheet" href="/Users/ashamohamed/Documents/groupietracker/stylesheet/styles.css" /> -->
        <main>
            <h1>GROUPIE TRACKER</h1>
                    {{range .}}
                 <img src="{{.Image}}" alt="Image of Artists"> 
                 <h3>{{.Name}}</h3>
                 <p>MEMBERS: {{range .Members}}</p>
                <ul>{{.}}</ul>{{end}}
                <p>CREATION DATE: {{.CreationDate}}</p>
                <p>FIRST ALBUM: {{.FirstAlbum}}</p>
                <a href="/loc">SHOW LOCATIONS</a><br>
                <br>
             {{end}}
             <br>
             <br>
             <p><a href="/index">home</a></p>
        </main>
    </body>
</html>