<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/Users/ashamohamed/Documents/GitHub/ghgroupie-tracker/assets/styles.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Groupie Tracker</title>
        <style>
            img {padding: 30px;}
        </style>
    </head>
    <body>
        <main>
            <div id="search-container"> 
                <form action="/search" method="post">
                <input list="artists" type="text" name="artist" id="search">
                <datalist id="artists">
                  {{range .}}  
                  <option value="{{.Name}}">Artist/Band</option>
                <option value="{{.FirstAlbum}}"><h1>{{.Name}}: First Album </h1></option>
                <option value="{{.Name}}"><h1>Creation Date: {{.CreationDate}}</h1></option>
                {{range .Members}}
                <option value="{{.}}"><h1>Member</h1></option>
                {{end}}
                <option value="{{range .Members}} {{.}} {{end}}">{{.Name}}</option>
                  {{end}}
                  </datalist>
                <input type="submit" id="search-button" value="search">
                </form>
                </div>
            <h1 class="title">Welcome to Groupie Tracker</h1>
                    {{range .}}
                    <ul>
                        <div class="indexrow">
                            <img src="{{.Image}}" alt="Image of Artists">
                            <div class="artinfo">
                                <h1 class="ind-h3">{{.Name}}<br>
                                    </h1>
                                <p class="index-p">MEMBERS: {{range .Members}}</p>
                                    <ul>
                                    <p>
                                     {{.}}
                                     </p>
                                     </ul>{{end}}
                                <p class="index-p">CREATION DATE: {{.CreationDate}}</p>
                                <p class="index-p">FIRST ALBUM: {{.FirstAlbum}}</p>
                                <p class="index-p"><a href="{{.Locations}}">Location</a></p>
                                <p class="index-p"><a href="{{.ConcertDates}}">Dates</a></p>
                                <p class="index-p"><a href="{{.Relations}}">Relations</a></p>
                               
                               
                            </div>
                        </div>
                    </ul>
                    {{end}}
        </main>
    </body>
</html>