<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/Users/ashamohamed/Documents/GitHub/ghgroupie-tracker/assets/styles.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>SHOW LOCATIONS</title>
    </head>
    <body>
        <main>
            <div class="loc-title">
            <h1>SHOWS</h1>
        </div>
        {{range .}}
        <div class="loc-container">
            <div class="loc-main">
               <h3 class="loc-h3"> {{.Image}} {{.Name}}<h3></h3>
                <h3><a href="{{.Locations}}">Location</a></h3>-- <a href="{{.ConcertDates}}">Dates</a></h3>
            </div>
        </div>
        {{end}}
    </main>
    </body>
</html>
<a href="/loc">SHOW LOCATIONS</a>