<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!-- <link rel="stylesheet" href="/Users/ashamohamed/Documents/groupietracker/assets/styles.css" /> -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>SHOW Relations</title>
    </head>
    <body>
        <main>
            <h1>Relations</h1>
                <br>
        {{range $index, $value := .Index}}
        <h3>  Location : {{range $location := .Location.Index}}</h3>
        {{range $index, $val := .Locations}}
       <p>{{.}}<br><br></p>
        {{end}}
        {{end}}
        {{end}}
        <br>
        <br>
    </main>
    </body>
</html>